<!DOCTYPE html>
<html lang="zxx">

<head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>Energy Safe Victoria</title>
	 <!-- Standard -->
      <link rel="shortcut icon" href="assets/img/ficon.png">
    <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <!-- latest fonts awesome -->
    <link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">    
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">      
    <!--  baguetteBox -->
    <link rel="stylesheet" href="assets/css/baguetteBox.css">
    <script src="https://p.trellocdn.com/embed.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>  

 <!--  nav  -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Logo"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
						<li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>                        
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#classifiers">Classification Models </a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contactIncidents">Contact Incidents</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#groundFire">Ground Fire</a>
                        </li>
						<li>
                            <a class="page-scroll" href="#injuries">Injuries</a>
                        </li>
                        
                        <li>
                            <a class="page-scroll" href="#AddIncident">Report Incident</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Tools</a>
                        </li>
                        <!--                        
                        <li>
                            <a class="page-scroll" href="#gallery">Folio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#blog">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#price">Price</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>  -->                    
                    </ul>
                   
                </div>
                <!-- navbar-collapse  -->
            </div>        
    </nav>
    
     <!-- START HEARDER SECTION -->
    <header id="home" class="header">
        <div class="container"> 
        <div class="row">
            <div class="col-sm-12 text-center">
                 <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
				  <div class="item active">
					<div class="caption">
                      <div class="header-text text-center">
                            <h1 class="animated fadeInLeftBig">Energy Safe Victoria</h1>
                            <p class="animated fadeInRightBig">Deakin Energy</p>   
                            <a href="#welcome" class="page-scroll ank animated fadeInUpBig">Read more</a>
                        </div>					
					</div>
				  </div>
				  <div class="item">
					<div class="caption">
					   <div class="header-text text-center">
                            <h1 class="animated fadeInDownBig">Electrical Nertwork-related Data Analysis</h1>
                            <p class="animated fadeInUpBig">Deakin Energy</p>   
                            <a href="#welcome" class="page-scroll ank animated fadeInUpBig">Read more</a>
                        </div>					
					</div>
				  </div>
				  
				</div>
				<a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
			 </div>
                
            </div>
        </div>	      
        </div>
    </header>
     <!-- START HOME SECTION -->
    <section id="welcome" class="section-padding welcome">		
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">  
                <div class="row">                
                <div class="col-md-4">
                    <h2><i class="fa fa-laptop" aria-hidden="true"></i> Exploratory  Data Analysis</h2>
                    <p>Interactive Data Visualisations and insights for vegetation & animal contact incidents, factors for ground fire and injuries per categories.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-rocket" aria-hidden="true"></i> Multiclass Classification Model</h2>
                    <p>Multiclass classifier to classify all the categories using machine learning algorithms.</p>
                </div>
                <div class="col-md-4">
                    <h2><i class="fa fa-camera" aria-hidden="true"></i> Classifier Web Application</h2>
                    <p>A system to classify that can categorise an incident within an acceptable level of error.</p>
                </div>
            </div>
           </div>
        </div>
        </div>
    </section>   
    <!-- START ABOUT SECTION -->
    <section id="about" class="section-padding about">		
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">  
                <div class="row">                
                <div class="col-md-12">
                    <div class="title">
                        <h2>ABOUT US</h2>
                        <p>Energy Safe Victoria is the regulator responsible for electrical and gas safety in the state. This statutory authority
                        audits the design, construction and maintenance of electricity and gas networks and installations and ensures that
                        appliances meet stringent safety and energy efficiency standards before they are sold.
                        
                        Energy Safe Victoria also conducts comprehensive public awareness safety campaigns to educate the community on the
                        potential dangers of gas and electricity.</p>
                    </div>
                    <div class="row">               
                    <div class="col-md-6 work">
                        <h3>What is this project all about?</span></h3>
                        <p>Electricity distribution businesses reports any electrical network-related incidents to Energy Safe Victoria as part of
                        their regulatory obligations.</p>
                        <p> This project aims to analyse these datasets to see any trends and patterns that lead to
                        these incidents from occurring.</p>
                        
                        <a class="btn-wt-bdr2" href="">Get Started</a>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/img/about.jpg" alt="about">
                    </div>
                    </div>
                </div>
                </div>
            </div>
           </div>
        </div>
    </section>   
    <section class="section-padding about-bg">		
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">  
                <div class="row">                
                <div class="col-md-6">
                    <h2>Our Aims</h2>
                    <ul>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Determine the most influential factors related to
                            network-related incidents.</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Analyse the degree of influence each factors may have to
                            predict an incident from occurring.</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Create a predictive model that could classify the incidents
                            based on the data.</li>
                    </ul>
                    <a class="btn-wt-bdr2" href="">Get Started</a>
                </div>
                </div>
            </div>
           </div>
        </div>
    </section>   
    
   <!-- START TEAM SECTION -->
    <section id="classifiers" class="section-padding team-box">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">  
                <div class="title">
                <h2>Classification Models</h2>
                <label>Enter the event description.<br>Select a classifier and click on the button. <br> Or click on the "Classify All" button
				to use all classifiers at once.</label>
                </div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
                                <form align="center" method="POST">
                                
                                    <label for="event" align="center">Event Description</label><br>
                                    <textarea id="event" name="event" rows="5" cols="50"></textarea>
                                    <br><br>
                                    <div class="dropdown">
                                        <div class="text-center">
                                            <select name="classifier" id="classifier">
                                                <option selected="selected">Select Classifier</optoion>
                                                <option value="dt">Decision Tree</option>
                                                <option value="knn">K Nearest Neighbor</option>
                                                <option value="lr">Logistic Regression</option>
                                                <option value="nn">Neural Network</option>
                                                <option value="rf">Random Forest</option>
                                                <option value="svm">Support Vector Machine</option>
                                                <option value="xgb">XGBoost</option>
                                            </select>
                                
											&nbsp;&nbsp;<input type="submit" formaction="/predict" value="Classify" class="btn btn-success">
											&nbsp;&nbsp;
											
												<input type="submit" value="Classify All" formaction="/predictall" class="btn btn-success"/>
											
			
											<br>	
                                        </div>
										<br />
                                    </div>
									
                                </form>
							</div>							
						</div>
					</div>
            </div>           
        </div>
        </div>
    </section>
    <section id="table" class="section-padding about-bg">
	<!--{% if scroll %}-->
	<script>
		document.location.hash = '#' + '{{ scroll }}';
	</script>
	<!--{% endif %}-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        <table style="width:50%">
            <tr>
                <th><h3>Classifiers</h3></th>
                <th><h3>Accuarcy</h3></th>
				<th><h3>Prediction</h3></th>
                <th><h3>Probability</h3></th>
        
            </tr>
            <tr>
                <td>
				<h4>Decision Tree</h4></td>
                <td> ###</td>
				<td> {{dt_pred|safe}}</td>
				<td> {{dt_prob|safe}}<td>
                
            </tr>
            <tr>
                <td>
                <h4>K Nearest Neighbor</h4></td>
                <td>###</td>
				<td> {{knn_pred|safe}}</td>
				<td> {{knn_prob|safe}}<td>
                
            </tr>
            <tr>
                <td>
                <h4>Recurrernt Neural Network</h4></td>
                <td>###</td>
				<td> {{rnn_pred|safe}}</td>
				<td> {{rnn_prob|safe}}<td>
                
            </tr>
            <tr>
                <td>
				<h4>Logistic Regression</h4></td>
                <td>###</td>
				<td> {{lr_pred|safe}}</td>
				<td> {{lr_prob|safe}}<td>
    
            </tr>
            
        
            <tr>
                <td>
				<h4>Neural Network</h4></td>
                <td>###</td>
				<td> {{nn_pred|safe}}</td>
				<td> {{nn_prob|safe}}<td>
                
            </tr>
            <tr>
                <td>
                <h4>Random Forest</h4></td>
                <td> ###</td>
				<td> {{rf_pred|safe}}</td>
				<td> {{rf_prob|safe}}<td>
               
            </tr>
            <tr>
                <td>
                <h4>Support Vector Machine</h4></td>
                <td> ###</td>
				<td> {{svm_pred|safe}}</td>
				<td> {{svm_prob|safe}}<td>
               
            </tr>
            <tr>
                <td>
                <h4>XGBoost</h4></td>
                <td> ###</ </td>
				<td> {{xgb_pred|safe}}</td>
				<td> {{xgb_prob|safe}}<td>
               
            </tr>
            
           
        
        </table>
        </div>
        </div>
        </div>

    </section>
    
    <section id="contactIncidents" class="section-padding team-box">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>General profile of Vegetation, Animal and Bird Contact</h2>
                        <p>Descibe about Dashboard</p>
                    </div>
                    
                        <div class="row">
                            <div class="col-md-4">
								<iframe frameborder="0"  height="768" width="1520" scrolling="yes"
                                    src="https://public.tableau.com/views/D1_Q1_Public/Dashboard2?:language=en&:display_count=y&publish=yes&:origin=viz_share_link&:showVizHome=no">
                                </iframe>
                            </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="groundFire" class="section-padding ground-bg">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Ground Fire Analysis</h2>
                        <p>Descibe about Dashboard</p>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4">
                            <iframe frameborder="0" height="850" width="1520" scrolling="yes"
                                src="https://public.tableau.com/views/Ques2Final/Dashboard3?:language=en&:display_count=y&:origin=viz_share_link&:showVizHome=no">
                            </iframe>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        </div>
    </section>
	
	<section id="injuries" class="section-padding gallery">
        <div >
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>General profile of injuires</h2>
                        <p>Descibe about Dashboard</p>
                    </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                                <iframe frameborder="0"  height="768" width="1520" scrolling="yes"
                                    src="https://public.tableau.com/views/D1_Q3_Varun/Dashboard1?:language=en&:display_count=y&publish=yes&:origin=viz_share_link&:showVizHome=no">
                                </iframe>
                            </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- START SERVICES SECTION -->
    <section id="services" class="section-padding features">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">  
                <div class="title">
                <h2>Tools & Technologies </span></h2>
                
                    </div>
                <div class="row">
                 <div class="col-md-6">
                     <div class="row">
                     <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/python-logo.png" alt="sample image"></div>
                     <div class="col-md-8">
                     <h4>Python<br/> <span>Flask</span></h4>
                     <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require
                    particular tools or libraries. (Ref. Wikipedia)</p>
                     <a class="btn3 m-b80" href="https://www.python.org/">More Info</a>
                     </div>
                     </div>            
                </div>    
                 <div class="col-md-6">
                     <div class="row">
                     <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/tableau-logo.png" alt="sample image"></div>
                     <div class="col-md-8">
                     <h4>Tableau</h4>
                     <p>Tableau is a visual analytics platform transforming the way we use data to solve problems—empowering people and
                    organizations to make the most of their data. Tableau can help anyone see and understand their data. (Ref. https://www.tableau.com/why-tableau/what-is-tableau)</p>
                     <a class="btn3 m-b80" href="https://www.tableau.com/">More Info</a>
                     </div>
                     </div>            
                </div>    
                <div class="col-md-6">
                     <div class="row">
                     <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/jupyter.png" alt="sample image"></div>
                     <div class="col-md-8">
                     <h4>Jupyter <br/> <span>Notebook</span></h4>
                     <p>The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live
                    code, equations, visualizations and narrative text. (Ref. https://jupyter.org/)</p>
                     <a class="btn3" href="https://jupyter.org/">More Info</a>
                     </div>
                     </div>            
                </div>    
                 <div class="col-md-6">
                     <div class="row">
                     <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/VS.png" alt="sample image"></div>
                     <div class="col-md-8">
                     <h4>Microsoft<br/> <span>Visual Studio</span></h4>
                     <p>Microsoft Visual Studio is an integrated development environment from Microsoft. It is used to develop computer
                    programs, as well as websites, web apps, web services and mobile apps. (Ref. Wikipedia)</p>
                     <a class="btn3" href="https://visualstudio.microsoft.com/">More Info</a>
                     </div>
                     </div>            
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/bitbucket.png" alt="sample image"></div>
                        <div class="col-md-8">
                            <h4>Bitbucket</h4>
                            <p>Bitbucket is a web-based version control repository hosting service owned by Atlassian, for source code and development
                            projects that use either Mercurial or Git revision control systems. Bitbucket offers both commercial plans and free
                            accounts.(Ref. Wikipedia)</p>
                            <a class="btn3" href="https://bitbucket.org/product?&aceid=&adposition=&adgroup=92542377335&campaign=9128560467&creative=414680962292&device=c&keyword=bitbucket&matchtype=e&network=g&placement=&ds_kids=p51241764487&ds_e=GOOGLE&ds_eid=700000001551985&ds_e1=GOOGLE&gclid=CjwKCAjw74b7BRA_EiwAF8yHFDCcBryXyjEvjnztQQly4JPlLXOgoNuhx2CNlYwUlFfPF78pRgYhIhoCtEEQAvD_BwE&gclsrc=aw.ds">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4"><img class="img-responsive" src="assets/img/gallery/sourcetree.png" alt="sample image">
                        </div>
                        <div class="col-md-8">
                            <h4>SourceTree <br /> <span>Git Client</span></h4>
                            <p>Sourcetree is a free Git desktop client for developers on Windows. Say goodbye to the command line and use the full
                            capabilities of Git through Sourcetree’s beautifully simple interface. (Ref. https://www.atlassian.com/blog/archives/introducing-sourcetree-git-client-microsoft-windows)</p>
                            <a class="btn3" href="https://www.sourcetreeapp.com/">More Info</a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>           
        </div>
    </section>
    
    <section id="Trello" class="section-padding team-box">
        <!--{% if scroll %}-->
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        <!--{% endif %}-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Trello Board</h2>
                    
                    
                                <blockquote class="trello-board-compact" style="width: fit-content;">
                                    <a href="https://trello.com/b/UP44HjgH/t2-2020">Trello Board</a>
                                </blockquote>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- START BLOG SECTION -->
    <section id="blog" class="section-padding blog">		
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">  
                <div class="row">                
                <div class="col-md-12">
                    <h2>Our <span>Blog</span></h2>
                  
						<div class="row">
							<div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
                                        <img alt="blog" src="assets/img/blog/blog.jpg">                                  									
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
									<img alt="blog" src="assets/img/blog/blog2.jpg">                                    
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
									<img alt="blog" src="assets/img/blog/blog3.jpg">                                    
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
                            <div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
									<img alt="blog" src="assets/img/blog/blog3.jpg">                                    
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
									<img alt="blog" src="assets/img/blog/blog.jpg">                                    
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
                                    <a href="#">
									<img alt="blog" src="assets/img/blog/blog2.jpg">                                   
                                    <div class="blog-crl">
											<strong>Mar</strong><br/>
                                             8, 2016
										</div>
									<div class="blog-content">
										<p>DRONES AND SPORTS MEDIA: AN INTERVIEW WITH SKIP WHITMAN</p>
										<span>by David Hostines</span>		
									</div>
                                    </a>
								</div>
							</div>
						</div>

                </div>
                </div>
            </div>
           </div>
        </div>
    </section>
    <!-- START PRICE SECTION -->
    <section id="price" class="section-padding price">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">  
                <div class="title">
                <h2>PRICING <span>PLAN</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">

                            <!--Pricing Column-->
                            <article class="pricing-column col-md-4">
                                <div class="inner-box">
                                    <div class="price-header text-center">
                                        <h3 class="price-title">Casual</h3>
                                        <h2 class="price-no">Free</h2>
                                    </div>
                                    <ul class="price-stats text-center">
                                        <li>10 Projects</li>
                                        <li>30 GB Storage</li>
                                        <li>Unlimited Data</li>
                                        <li>50 GB Bandwith</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="text-center">
                                         <a href="" class="btn-wt-bdr3">Signup Now</a>
                                    </div>
                                </div>
                            </article>


                            <!--Pricing Column-->
                            <article class="pricing-column col-md-4">
                                <div class="inner-box">                                
                                    <div class="price-header text-center">
                                        <h3 class="price-title active">Profesional</h3>
                                        <h2 class="price-no active">$24.90/month</h2>
                                    </div>
                                    <ul class="price-stats text-center">
                                        <li>30 Projects</li>
                                        <li>30 GB Storage</li>
                                        <li>Unlimited Data</li>
                                        <li>50 GB Bandwith</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="text-center">
                                         <a href="" class="btn-wt-bdr3">Signup Now</a>
                                    </div>
                                </div>
                            </article>
                     
                            
                            <!--Pricing Column-->
                            <article class="pricing-column col-md-4">
                                <div class="inner-box">
                                    <div class="price-header text-center">
                                        <h3 class="price-title">Expert</h3>
                                        <h2 class="price-no">$49.90/month</h2>
                                    </div>
                                    <ul class="price-stats text-center">
                                        <li>100 Projects</li>
                                        <li>30 GB Storage</li>
                                        <li>Unlimited Data</li>
                                        <li>50 GB Bandwith</li>
                                        <li>Enhanced Security</li>
                                    </ul>

                                    <div class="text-center">
                                         <a href="" class="btn-wt-bdr3">Signup Now</a>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div><!-- end col -->
                </div>
            </div>
           </div>
        </div>
    </section>
    <!-- START INCIDENT SECTION -->
    <section id="AddIncident" class="section-padding team-box">			
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">  
                <div class="title">
                <h2>INCIDENT FORM<span></span></h2>
                <p>Use the below form to add a new electrical incident that has been reported. </p>
                    </div>
					<div class="container">
						<div class="row">	
							<form name="ajax-form" id="incident-form1" action="https://formsubmit.io/send/90aa5128-c301-47bf-ae81-794fa4c07dda" method="post"  class="contact-form">
								<div class="col-md-6">
									<div class="contact-bg">
											<input name="_redirect" type="hidden" value="http://zcube.in/creativo/creativo/index.html">
											<div class="form-group">
												<input class="form-control" id="action" name="action" placeholder="ACTION TAKEN" type="text" value="" required>
											</div>
											<!-- /Form-Action taken -->

											<div class="form-group">
												<input class="form-control" id="address" name="address" type="text" placeholder="ADDRESS" value=""  required />
											</div>
											<!-- /Form-Address -->
											
											<div class="form-group">
												<input class="form-control" id="Assetlbl" name="Assetlbl" type="text" placeholder="ASSET LABEL" value=""  required>
											</div>
											<!-- /Form-Asset Label -->
											
											<div class="form-group">
												<input class="form-control" id="causecmnty" name="causecmnty" rows="1" placeholder="CAUSE COMMUNITY"  required>
											</div>
											<!-- /Form-Cause community -->
											
											<div class="form-group">
												<input class="form-control" id="causeenv" name="causeenv" rows="1" placeholder="CAUSE ENVIRONMENT"  required>
                                            </div>
                                            <!-- /Form-Event Discription -->
                                            <div class="form-group">
												<input class="form-control" id="eventDesc" name="eventDesc" rows="1" placeholder="EVENT DESCRIPTION"  required>
											</div>
											<!-- /Form-Cause environment -->
									
									</div>
								</div>
								<div class="col-md-6">
									<div class="contact-bg">
									<!-- form -->
									<!--<form name="ajax-form" id="contact-form2" action="https://formsubmit.io/send/90aa5128-c301-47bf-ae81-794fa4c07dda" method="post"  class="contact-form">-->
											<input name="_redirect" type="hidden" value="http://zcube.in/creativo/creativo/index.html">

											<div class="form-group">
												<select class="form-control" id="causepre" name="causepre" rows="1" placeholder="CAUSE PRE" for="causepre">
													<option value="" selected disabled hidden>Cause Pre</option>
													<option value="Neut">Neutral</option>
													<option value="Like">Likely</option>
													<option value="Hghlk">Highly likely</option>
													<option value="Unlk">Unlikely</option>
													<option value="hghunlk">highly unlikely</option>
												</select>
											</div>
											<!-- /Form-Cause pre -->
											
											<div class="form-group">
												<input class="form-control" id="techcause" name="techcause" rows="1" placeholder="TECHNICAL CAUSE"  required>
											</div>
											<!-- /Form-Technical cause -->
											
											<div class="form-group">
												<select class="form-control" id="causeworkp" name="causeworkp" rows="1" placeholder="Cause work practice">
													<option value="" selected disabled hidden>Cause work practice</option>
													<option value="pwrk">Poor workmanship</option>
													<option value="infpln">Ineffective planning</option>
													<option value="inapp">Followed but inappropriate</option>
													<option value="nocomm">Poor or no communication</option>
													<option value="humer">Human error</option>
													<option value="na">Not applicable</option>
													<option value="uknwn">Unknown</option>
												</select>
											</div>
											<!-- /Form-Cause work practices -->
											
											<div class="form-group">
												<select class="form-control" id="cnttype" name="cnttype" rows="1" placeholder="Contact type">
													<option value="" selected disabled hidden>Contact type</option>
													<option value="3ph">Three phase</option>
													<option value="p2p">Phase to phase</option>
													<option value="p2e">Phase to earth</option>
													<option value="p2n">Phase to neutral</option>
													<option value="n2e">Neutral to earth</option>
													<option value="na">Not applicable</option>
												</select>
											</div>
                                            <!-- /Form-Contact type -->
                                            
                                             <!-- /Form-Injury type -->
                                            <div class="form-group">
												<select class="form-control" id="injtype" name="injtype" rows="1" placeholder="Injury type">
													<option value="" selected disabled hidden>Injury type</option>
													<option value="none">None</option>
													<option value="fatal">Fatal</option>
													<option value="major">Major</option>
													<option value="minor">Minor</option>
												</select>
											</div>

											<div class="row">            
												<div class="col-xs-12">
													<div class="text-center">
														<button type="submit" class="btn btn-custom" id="send">Submit</button>
													</div>
												</div> <!-- /col -->
											</div> <!-- /row -->
										</div>
								</div>
							</form> <!-- /form -->
						</div>
					</div>
            </div>           
        </div>
        </div>
    </section>       
    <!-- START NEWSLETTER SECTION -->
    <section id="newsletter" class="section-padding newsletter">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">  
                <div class="title">
                <h2>SUBSCRIBE TO <span>NEWSLETTER</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <form>
                          <input type="email" placeholder="Enter e-mail address" id="exampleInputEmail1" class="form-control input-subscribe">
                          <button class="btn btn-white-fill" type="submit">Subscribe </button>                        
                        </form>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </section>
    <!-- START CLIENTS LOGO SECTION -->
    <section class="section-padding client padding">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12 pnd">  
                             <ul>
							<li><a href="#"><img src="assets/img/client1.jpg" alt="client1"/></a></li>
							<li><a href="#"><img src="assets/img/client2.jpg" alt="client2"/></a></li>
							<li><a href="#"><img src="assets/img/client3.jpg" alt="client3"/></a></li>
							<li><a href="#"><img src="assets/img/client4.jpg" alt="client4"/></a></li>
						</ul>	
              </div>
           </div>
        </div>
    </section>     
	 <!-- START FOOTER SECTION -->
    <footer class="section-padding footer">		
        <div class="container"> 
            <div class="row">
            <div class="col-md-12">                
                <div class="footer-padding">
                    <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="socialfooter">
                                <a href="#" class="fac"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twi"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="goo"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="behance"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        <div class="row">
                          <div class="col-md-12 copyright">
                            <p>2016 <span>&copy;</span> CREATIVO</p>
                            </div>
                        </div>
                    </div>
                    </div>                  
                </div>
            </div>
           </div>
        </div>
    </footer>   
        
        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <!-- baguetteBox -->
    <script src="assets/js/baguetteBox.js" async></script>
    <script src="assets/js/plugins.js" async></script>    
     <!--  Custom Theme JavaScript  -->
    <script src="assets/js/custom.js"></script> 
    <!--  Custom Theme filterizr  -->
    <script src="assets/js/jquery.filterizr.js"></script>
    <script src="assets/js/controls.js"></script>   
    <script src="assets/js/wow.min.js"></script> 
     <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
</body>
</html>

